[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
basedosdados = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
xlrd = "*"
openpyxl = "*"
seaborn = "*"
sklearn = "*"
keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
